/clc py wkend
/collegeassignement
/collegeassignement-20191209T163718Z-001.zip
/database
/database.py
/database_op
/dbm.mwb
/demo.py
/django_cheatsheet.pdf
/durgasoft.pdf
/Eclerex
/fact.py
/for_ loop.py
/ip.py
/myworkspace
/newstart
/new_dir_dj
/ooopserv
/P#5_1stDec
/pfiveflask
/pfiveflask-20191209T163619Z-001.zip
/producer
/producer-20200319T045317Z-001.zip
/resume format.pdf
/sach.py
/sach1.py
/sample
/sample-20200319T045346Z-001.zip
/sample.py
/service.py
/serviceimpl.py
/serviceimpl_cp.py
/shiv
/sqlalchemy.py
/startapp.py
/string.py
/study material
/switch case.py
/third_py532020.py